@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
    background-color: #fff9f5;
    font-family: 'AR丸ゴシック体M';
    color: #24140e;
}

ul,li,h3,p,.columns {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

.text_center {
    text-align: center;
}

.melati_line {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 80px;
}

.melati_line_2 {
    text-align: center;
    margin-top: 80px;
}

.section_title {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

#header_in{
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0;
    line-height: 1;
    background-color: #004d25;
    border-bottom: 1px solid #fff9f5;
}

#header_in ul{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#header_in i {
    color: #fff9f5;
    font-size: 30px;
}

#header_in a {
    color: #fff9f5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

#header_in a:link {
    color: #fff9f5;
    text-decoration: none;
}
#header_in a:hover {
    opacity: 0.75;
    text-decoration: none;
}


#top_slide_area {
    background-image: url(../images/title_back.jpg);
    background-size: cover;
    margin-bottom: 8px;
}

.logo_top {
    padding-top: 200px;
    padding-bottom: 200px;
}

.down_arrow {
    padding-bottom: 50px;
}

#top_slide_area li {
    float: left;
    width: 20%;
    height: 25%;
    padding-bottom: 80px;
}

#concept, #branch_introduction, #our_staff {
    color: #fff9f5;
    background-color: #24140e;
}

.concept_pict {
    padding-bottom: 80px;
    text-align: center;
}

.concept_text {
    padding-top: 0px;
    padding-bottom: 80px;
    font-size: 1.8rem;
}
.news_text p {
    font-size: 2.5rem;
    font-weight: bold;
}

.news_text span {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 15px;
}

.news_text a:link {/*ココがなにもされてない状態リンク*/
    color: #24140e;
    text-decoration:none;
}
.news_text a:visited {/*訪問後のリンク*/
    color: #ebab34;
    text-decoration:none;
}
.news_text a:hover {/*マウスをのせたとき*/
    color:#004d25;
    text-decoration:underline;
}

#branch_introduction a:link{
    color: #fff9f5;
    text-decoration: none;
}

#branch_introduction a:hover{
    color: #fff9f5;
    text-decoration: underline;
    opacity: 0.75;
}

.branch_pict {
    width: 97%;
    display: block;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.menu_select ul{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 80px;
}
.menu_select li {
    font-weight: bold;
    font-size: 2rem
}
.menu_select a{
    display: block;
    color: #24140e;
}
.menu_select a:link {
    color: #24140e;
    text-decoration: none;
}
.menu_select a:hover {
    color: #004d25;
    text-decoration: underline;
}

.google_map {
    border: solid 5px #24140e;
    border-radius: 5px;
    margin-bottom: 10px;
}

.branch_address {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.address {
    font-size: 1.5rem;
    font-weight: normal;
}

.office_hour {
    display: block;
    float: right;
    color: #fff9f5;
    font-weight: bold;
    background-color: #24140e;
    border-radius: 5px;
    margin-bottom: 10px;
}

.office_hour p {
    font-size: 2rem;
    text-transform: uppercase;
}

.office_hour span {
    font-size: 1.5rem;
    margin-right: 8px;
}
.close {
    margin-left: 30px;
}

.tosayamada_br,.obiyamachi_br {
    display: block;
    margin-top: 80px;
}
.obiyamachi_br{
    float: right;
}

.staff_copy {
    font-size: 2.0rem;
    font-weight: bold;
    padding-bottom: 20px;
}
.staff_copy,.staff_pict,.staff_text {
    padding:5px;
}

.staff_text {
    padding-top: 20px;
    padding-bottom: 80px;
}
.staff_text p{
    font-size: 1.5rem;
}

.info_text {
    margin-bottom: 80px;
}

.contact_yamada {
    margin-bottom: 80px;
}
.contact_yamada,.contact_obiyamachi p {
    font-size: 4rem;
}
footer .copy{
    background-color: #004d25;
    padding: 20px 0 10px 0;
}


